@model Gamification.UI.Models.SapViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@if (User.IsInRole("User"))
{
    <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            @*<h5 class="card-title text-primary">Congratulations <span id="userName">@Model.Data.User</span>! 🎉</h5>*@
                            <h5 class="card-title text-primary">Congratulations <span @*id="userName"*@>@User.Identity.Name</span>! 🎉</h5>
                            <p class="mb-4">

                                You have completed <span class="fw-bold" @* id="pTitle"*@></span><span id="fulFillment">@ViewBag.Fulfillment</span> of the Purchasing Process! Continue the steps to earn more points and badges.
                            </p>
                            <a href="javascript:;" class="btn btn-sm btn-outline-primary">Back to SAP</a>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="../assets/img/illustrations/man-with-laptop-light.png"
                                 height="140"
                                 alt="View Badge User"
                                 data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                 data-app-light-img="illustrations/man-with-laptop-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 order-1">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    @* <img src="../assets/img/icons/unicons/chart-success.png"
                                alt="chart success"
                                class="rounded" />*@
                                    <span class="badge bg-label-info p-2"><i class="bx bxs-star-half text-primary bx-md"></i></span>
                                </div>
                                @*<div class="dropdown">
                            <button class="btn p-0"
                            type="button"
                            id="cardOpt3"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                            </div>*@
                            </div>
                            <span class="fw-semibold d-block mb-1">Points</span>
                            <h3 class="card-title mb-2"><span @*id="pPoint"*@>@ViewBag.Point</span></h3>
                            <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> next step +5</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="badge bg-label-info p-2"><i class="bx bxs-badge text-success bx-md"></i></span>
                                </div>
                                @*<div class="dropdown">
                            <button class="btn p-0"
                            type="button"
                            id="cardOpt6"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                            </div>*@
                            </div>
                            <span>Badges</span>
                            <h3 class="card-title text-nowrap mb-1"><span @*id="pBadge"*@>@*@Model.Data.Badge*@</span></h3>
                            <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>next step +5</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Revenue -->
        <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
            <div class="card">
                <div class="row row-bordered g-0">
                    <div class="col-md-8">
                        <h5 class="card-header m-0 me-2 pb-3">Progress</h5>
                        <div id="charts" class="px-2"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            @*<div class="text-center">
                        <div class="dropdown">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                        type="button"
                        id="growthReportId"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        2022
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                        <a class="dropdown-item" href="javascript:void(0);">2021</a>
                        <a class="dropdown-item" href="javascript:void(0);">2020</a>
                        <a class="dropdown-item" href="javascript:void(0);">2019</a>
                        </div>
                        </div>
                        </div>*@
                        </div>
                        <div id="growthChart"></div>
                        @*<div class="text-center fw-semibold pt-3 mb-2"><span id="pGrowth"></span> points Personal Growth</div>*@

                        @* <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                    <div class="d-flex">
                    <div class="me-2">
                    <span class="badge bg-label-primary p-2"><i class="bx bx-medal text-info  bx-lg"></i></span>
                    </div>
                    <div class="d-flex flex-column">
                    <small>2022</small>
                    <h6 class="mb-0">32.5k</h6>
                    </div>
                    </div>
                    <div class="d-flex">
                    <div class="me-2">
                    <span class="badge bg-label-info p-2"><i class="bx bx-medal text-info bx-lg"></i></span>
                    </div>
                    <div class="d-flex flex-column">
                    <small>2021</small>
                    <h6 class="mb-0">41.2k</h6>
                    </div>
                    </div>
                    </div>*@
                    </div>
                </div>
            </div>
        </div>
        <!--/ Total Revenue -->
        <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="badge bg-label-info p-2"><i class="bx bxs-crown text-warning bx-md"></i></span>
                                </div>
                                @* <div class="dropdown">
                            <button class="btn p-0"
                            type="button"
                            id="cardOpt4"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                            </div>*@
                            </div>
                            <span class="d-block mb-1">Levels</span>
                            <h3 class="card-title text-nowrap mb-2"><span id="pCrow">@ViewBag.Levels</span></h3>
                            <small class="text-danger fw-semibold"><i class="bx bx-up-arrow-alt"></i>next step +5</small>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="badge bg-label-info p-2"><i class="bx bx-medal text-info bx-md"></i></span>
                                </div>
                                @* <div class="dropdown">
                            <button class="btn p-0"
                            type="button"
                            id="cardOpt1"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="cardOpt1">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                            </div>*@
                            </div>
                            <span class="fw-semibold d-block mb-1">Medals</span>
                            <h3 class="card-title mb-2">0</h3>
                            <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>next step +5</small>
                        </div>
                    </div>
                </div>
                <!-- </div>
                <div class="row"> -->
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                    <div class="card-title">
                                        <h5 class="text-nowrap mb-2">Steps Report</h5>
                                        <span class="badge bg-label-warning rounded-pill">Total steps <span>17</span></span>
                                    </div>
                                    <div class="mt-sm-auto">
                                        <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i> completed</small>
                                        <h3 class="mb-0">2</h3>
                                    </div>
                                </div>
                                <div id="profileReportChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12">

            <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <marquee>Welcome @User.Identity.Name</marquee>
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            LoadDefaultData();
            var options = {
                series: [
                    {
                        name: 'Actual',
                        data: [
                            {
                                x: 'step1',
                                y: 5,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 5,
                                        strokeHeight: 5,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step2',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 5,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step3',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 5,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step4',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 5,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step5',
                                y: 5,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 13,
                                        strokeWidth: 0,
                                        strokeLineCap: 'round',
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step6',
                                y: 5,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 5,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step7',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 5,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step8',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 2,
                                        strokeDashArray: 2,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step9',
                                y: 5,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 2,
                                        strokeDashArray: 2,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step10',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 2,
                                        strokeDashArray: 2,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step11',
                                y: 5,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 2,
                                        strokeDashArray: 2,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            },
                            {
                                x: 'step12',
                                y: 10,
                                goals: [
                                    {
                                        name: 'Expected',
                                        value: 10,
                                        strokeHeight: 2,
                                        strokeDashArray: 2,
                                        strokeColor: '#775DD0'
                                    }
                                ]
                            }
                        ]
                    }
                ],
                chart: {
                    height: 350,
                    type: 'bar'
                },
                plotOptions: {
                    bar: {
                        columnWidth: '60%'
                    }
                },
                colors: ['#00E396'],
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: true,
                    showForSingleSeries: true,
                    customLegendItems: ['Actual', 'Expected'],
                    markers: {
                        fillColors: ['#00E396', '#775DD0']
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#charts"), options);
            chart.render();
        });

        function LoadDefaultData() {
            var badges = 0;
            var crown = 0;
            var point = 0;

            localStorage.setItem('badges', badges);
            localStorage.setItem('crown', crown);
            localStorage.setItem('point', point);

            badges = localStorage.getItem('badges');
            crown = localStorage.getItem('crown');
            point = localStorage.getItem('point');



            $('#point').text(point);

            if (point >= 15) {
                badges += 1
                localStorage.setItem('badges', badges);

            } if (point >= 30) {
                badges += 1
                crown += 1
                localStorage.setItem('badges', badges);
                localStorage.setItem('crown', crown);
            }
            $('#badges').text(badges);
            $('#crown').text(crown);

            window.username = $('#userName').text();
            var username = window.username;

            localStorage.setItem("stat", username);
            //alert(window.username);
            $.ajax({
                url: '/Home/Index',
                method: 'POST',
                data: { username },
                success: function (data) {
                    console.log(data);
                    localStorage.setItem('point', data.p);
                    $('#point').text(data.p);
                    $('#pCrown').text(data.c);
                    $('#pGrowth').text(data.p);
                    $('#pBadge').text(data.b);
                    $('#pPoint').text(data.p);
                    $('#pTitle').text(data.p);
                    if (point >= 30) {
                        var b = parseInt(badges) + 1;

                        localStorage.setItem('badges', b);
                        $('#badges').text(b);

                        var c = parseInt(crown) + 1;
                        localStorage.setItem('crown', crown);
                        $('#crown').text(c);
                        console.log("c: " + c)
                    } else if (data.p >= 15 && data.p <= 29) {
                        var b = parseInt(badges) + 1;
                        localStorage.setItem('badges', b);
                        $('#badges').text(b);
                    }


                }
            });
        }



    </script>
}



